<div class="container">

<h1>Bankroll</h1>
<h2>$<%= @bankroll.bankroll %></h2>

	<div class="pure-g">
		<div class="pure-u-1-5">
			<h3>H2H and 50/50: $<%= @bankroll.fifty_fifty %></h3>
		</div>
		<div class="pure-u-1-5">
			<h3>10-Team: $<%= @bankroll.ten_team %></h3>
		</div>
		<div class="pure-u-1-5">
			<h3>GPP @ 20%: $<%= @bankroll.gpp_with_twenty %></h3>
		</div>
		<div class="pure-u-1-5">
			<h3>GPP @ 5%: $<%= @bankroll.gpp_with_five %></h3>
		</div>
		<div class="pure-u-1-5">
			<h3>GPP @ 2%: $<%= @bankroll.gpp_with_two %></h3>
		</div>
	</div>

<h1>All Players</h1>

	<div class="pure-g">
	    <div class="pure-u-1-5">
	    	<h2>Top 5 Projected</h2>
			<% @all_players.top_projected.each do |all| %>
				<%= "#{all[:name]}\t(#{all[:avg_proj].to_f.round(1)})" %><br>
			<% end %>
	    </div>
	    <div class="pure-u-1-5">
	    	<h2>Top 5 Value</h2>
			<% @all_players.top_value.each do |all| %>
				<%= "#{all[:name]}\t(#{all[:ppd].to_f.round(1)})" %><br>
			<% end %>
	    </div>
	    <div class="pure-u-1-5">
	    	<h2>Top 5 Ceiling</h2>
			<% @all_players.top_ceiling.each do |all| %>
				<%= "#{all[:name]}\t(#{all[:ceiling].to_f.round(1)})" %><br>
			<% end %>
	    </div>
	    <div class="pure-u-1-5">
	    	<h2>Top 5 Floor</h2>
			<% @all_players.top_floor.each do |all| %>
				<%= "#{all[:name]}\t(#{all[:floor].to_f.round(1)})" %><br>
			<% end %>
	    </div>
	    <div class="pure-u-1-5">
	    	<h2>Top 5 GPP</h2>
			<% @all_players.top_gpp.each do |all| %>
				<%= "#{all[:name]}\t(#{all[:ceiling_ppd].to_f.round(1)})" %><br>
			<% end %>
	    </div>
	</div>

</div>





