<h1>Vegas Lines</h1>
<h2>Games to Target</h2>
	<div class='optimal'>
		<% @vegas.optimal.each do |v| %>
			<%= "#{v[:home_team]}\t(#{v[:total].to_f.round(1)} pts)" %><br>
		<% end %>
	</div>

	<div class="pure-g">
	    <div class="pure-u-1-4">
	    	<h2>Totals</h2>
			<% @vegas.highest_total.each do |te| %>
				<%= "#{te[:home_team]}\t(#{te[:total].to_f.round(1)} pts)" %><br>
			<% end %>
	    </div>
	    <div class="pure-u-1-4">
	    	<h2>Home Total</h2>
			<% @vegas.home_total.each do |te| %>
				<%= "#{te[:home_team]}\t(#{te[:home_total].to_f.round(1)} pts)" %><br>
			<% end %>
	    </div>
	    <div class="pure-u-1-4">
	    	<h2>Away Total</h2>
			<% @vegas.away_total.each do |te| %>
				<%= "#{te[:away_total]}\t(#{te[:away_total].to_f.round(1)} pts)" %><br>
			<% end %>
	    </div>
	    <div class="pure-u-1-4">
	    	<h2>Spreads</h2>
			<% @vegas.highest_spread.each do |te| %>
				<%= "#{te[:home_team]}\t(#{te[:spread].to_f.round(1)} pts)" %><br>
			<% end %>
	    </div>
	</div>