<!DOCTYPE html>
<html>
<head>
  <title>Daily</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="demo-horizontal-menu">
    <ul id="std-menu-items">
        <li><%= link_to "Home", root_path %></li>
        
        <li>
            <%= link_to "QB", quarterbacks_path %>
            <ul>
                <li><%= link_to "RB", runningbacks_path %></li>
                <li><%= link_to "WR", widereceivers_path %></li>
                <li><%= link_to "TE", tightends_path %></li>
                <li><%= link_to "DEF", defense_path %></li>
            </ul>
        </li>
        	<li><%= link_to "Vegas", vegas_path %></li>
	    	<li><%= link_to "Targets", targets_path %></li>
	    	<li><%= link_to "Value", values_path %></li>
	    	<li><%= link_to "Optimal", optimal_path %></li>
    </ul>

<%= yield %>
</div>


<script>
YUI({
    classNamePrefix: 'pure'
}).use('gallery-sm-menu', function (Y) {

    var horizontalMenu = new Y.Menu({
        container         : '#demo-horizontal-menu',
        sourceNode        : '#std-menu-items',
        orientation       : 'horizontal',
        hideOnOutsideClick: false,
        hideOnClick       : false
    });

    horizontalMenu.render();
    horizontalMenu.show();

});
</script>
</body>
</html>
